<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="usb_port" default="/dev/ttyUSB0" />
  <arg name="pipeline" default="ompl"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="dope_config" default="$(find dope)/config/config_pose.yaml" doc="Path to parameter config file"/>

  <!-- Load the URDF into the ROS Parameter Server -->  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find papras_description)/urdf/coffee_camera.urdf.xacro'"/>

  <!-- startup simulated world and spawn robot-->
  <group if="$(arg sim)">
    <include file="$(find papras_sim)/launch/sim.launch">
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="$(arg gazebo_gui)"/> 
      <arg name="demo_env" value="coffee"/> 
    </include>
  </group>

  <!-- startup ros_control for real robot -->
  <group unless="$(arg sim)">
    <include file="$(find papras_hw)/launch/papras_hw.launch">
      <arg name="usb_port" value="$(arg usb_port)"/>
      <arg name="yaml_file" value="$(find papras_hw)/config/hardware_coffee_3arm_arm2_nogripper.yaml"/>
      <arg name="baud_rate" value="1000000" />
    </include>
  </group>

  <!-- joint velocity and acceleration limits -->
  <!-- <rosparam file="$(find papras_hw)/config/coffee_joint_limits.yaml" command="load"/> -->

  <!-- joint state controller-->
  <include file="$(find papras_controllers)/launch/controller_utils.launch"/>

  <!-- joint_trajectory_controller -->
  <group unless="$(arg sim)">
    <rosparam file="$(find papras_controllers)/config/joint_trajectory_controller_coffee_camera.yaml" command="load"/>
  </group>
  <group if="$(arg sim)">
    <rosparam file="$(find papras_controllers)/config/joint_trajectory_controller_coffee_camera_gazebo.yaml" command="load"/>
  </group>

  <node name="arm1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm1_controller"/>
  <node name="arm3_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm3_controller"/>
  <node name="gripper1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper1_controller"/>
  <node name="gripper3_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper3_controller"/>


  <!-- startup move_group related -->
  <include file="$(find coffee_camera_moveit_config)/launch/move_group.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>

  <!-- rviz moveit vis -->
  <group if="$(arg rviz)">
    <include file="$(find coffee_camera_moveit_config)/launch/moveit_rviz.launch">
      <arg name="rviz_config" value="$(find coffee_camera_moveit_config)/launch/moveit.rviz"/>
    </include>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

  <node name="dope" pkg="dope" type="dope" output="screen" clear_params="true">
    <rosparam file="$(arg dope_config)"/>
  </node>
</launch>