<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="usb_port" default="/dev/ttyUSB0" />
  <arg name="pipeline" default="ompl"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="rviz" default="true"/>

  <!-- Load the URDF into the ROS Parameter Server -->  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find papras_description)/urdf/spot_mount.urdf.xacro'"/>

   <!-- startup simulated world and spawn robot-->
  <group if="$(arg sim)">
    <include file="$(find papras_sim)/launch/sim.launch">
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="$(arg gazebo_gui)"/> 
      <arg name="demo_env" value="spot"/> 
    </include>
  </group>


  <!-- startup ros_control for real robot -->
  <group unless="$(arg sim)">
    <include file="$(find papras_hw)/launch/papras_hw.launch">
      <arg name="usb_port" value="$(arg usb_port)"/>
      <arg name="yaml_file" value="$(find papras_hw)/config/hardware_spot_mount.yaml"/>
      <arg name="baud_rate" value="1000000" />
    </include>
  </group>

  <!-- joint state controller-->
  <include file="$(find papras_controllers)/launch/controller_utils.launch"/>

  <!-- joint_trajectory_controller -->
  <group unless="$(arg sim)">
    <rosparam file="$(find papras_controllers)/config/joint_trajectory_controller_2arm.yaml" command="load"/>
  </group>
  <group if="$(arg sim)">
    <rosparam file="$(find papras_controllers)/config/joint_trajectory_controller_2arm_gazebo.yaml" command="load"/>
  </group>

  <node name="arm1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm1_controller"/>
  <node name="arm2_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm2_controller"/>
  <node name="gripper1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper1_controller"/>
  <node name="gripper2_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper2_controller"/>

  <!-- startup move_group related -->
  <include file="$(find spot_mount_moveit_config)/launch/move_group.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>

  <!-- rviz moveit vis -->
  <group if="$(arg rviz)">
    <include file="$(find spot_mount_moveit_config)/launch/moveit_rviz.launch">
      <arg name="rviz_config" value="$(find spot_mount_moveit_config)/launch/moveit.rviz"/>
    </include>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
</launch>