<?xml version="1.0" ?>
<launch>
  <arg name="usb_port" default="/dev/ttyUSB0" />
  <arg name="pipeline" default="ompl"/>
  <arg name="rviz" default="true"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find papras_description)/urdf/single_arm_test.urdf.xacro'"/>

  <!-- startup ros_control for real robot -->
  <include file="$(find papras_hw)/launch/papras_hw.launch">
    <arg name="usb_port" value="$(arg usb_port)"/>
    <arg name="yaml_file" value="$(find papras_hw)/config/hardware.yaml"/>
    <arg name="baud_rate" value="1000000" />
  </include>

  <!-- joint state controller-->
  <include file="$(find papras_controllers)/launch/controller_utils.launch"/>

  <!-- joint_trajectory_controller -->
  <rosparam file="$(find papras_controllers)/config/joint_trajectory_controller.yaml" command="load"/>

  <node name="arm1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm1_controller"/>
  <!-- <node name="gripper1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper1_controller"/> -->

  <!-- startup move_group related -->
  <include file="$(find single_arm_test_moveit_config)/launch/move_group.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>

  <!-- rviz moveit vis -->
  <group if="$(arg rviz)">
    <include file="$(find single_arm_test_moveit_config)/launch/moveit_rviz.launch">
      <arg name="rviz_config" value="$(find single_arm_test_moveit_config)/launch/moveit.rviz"/>
    </include>
  </group>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
</launch>
