  <launch>

  <node name="dope_webcam" pkg="dope" type="camera" output="screen" respawn="true">
    <param name="camera_info_url" value="package://dope/config/camera_info.yaml" />
  </node>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="dope/webcam"/>


  <arg name="config" default="$(find dope)/config/config_pose.yaml" doc="Path to parameter config file"/>

  <node name="dope" pkg="dope" type="dope" output="screen" clear_params="true" respawn="true">
    <rosparam file="$(arg config)"/>
  </node>
</launch>
