<launch>
  <!-- Launch rviz.launch before running this demo to see visalizations -->

  <!-- Debug -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Verbose mode -->
  <arg name="verbose" default="false" />
  <arg unless="$(arg verbose)" name="command_args" value="" />
  <arg     if="$(arg verbose)" name="command_args" value="--verbose" />

  <!-- Callgrind Arguments -->
  <arg name="callgrind" default="false" />
  <arg unless="$(arg callgrind)" name="launch_prefix2" value="" />
  <arg     if="$(arg callgrind)" name="launch_prefix2" value="valgrind --tool=callgrind --collect-atstart=no" />

  <!-- Valgrind Arguments -->
  <arg name="valgrind" default="false" />
  <arg unless="$(arg valgrind)" name="launch_prefix3" value="" />
  <arg     if="$(arg valgrind)" name="launch_prefix3" value="valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all --track-origins=yes -v" />

  
  <node name="dope_webcam" pkg="dope" type="camera" output="screen" respawn="true">
    <param name="camera_info_url" value="package://dope/config/camera_info.yaml" />
  </node>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="dope/webcam"/>


  <arg name="config" default="$(find dope)/config/config_pose.yaml" doc="Path to parameter config file"/>

  <node name="dope" pkg="dope" type="dope" output="screen" clear_params="true" respawn="true">
    <rosparam file="$(arg config)"/>
  </node>



  <!-- Start the demo -->
  <node ns="big_table" name="pick_place" launch-prefix="$(arg launch_prefix) $(arg launch_prefix2) $(arg launch_prefix3)" pkg="papras_demo"
  type="handoff_fsm" output="screen" args="$(arg command_args)"/>


</launch>
