<?xml version="1.0" ?>
<launch>
    <arg name="camera" default="1"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera$(arg camera)"/>
        <arg name="filters" value="pointcloud"/>
        <arg name="initial_reset" value="true"/>
        <arg name="depth_fps" value="30"/>
        <arg name="color_fps" value="30"/>
    </include>

</launch>