<launch>

  <group ns="tea_table" >
    <rosparam file="$(find papras_demo)/config/tea_chess_moves.yaml"/>

    <node name="tea_chess_demo" pkg="papras_demo" type="tea_chess_demo" respawn="false" output="screen"/>
  </group>
    
  <node name="chess" pkg="papras_demo" type="chess.py" respawn="false" output="screen"/>
</launch>
