<launch>
  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="with_gripper" default="false"/>
  <arg name="arm_id_3" default="3"/>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot_3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find open_manipulator_p_controller)/launch/open_manipulator_p_controller.launch" >
      <arg name="with_gripper"         value="$(arg with_gripper)"/>
      <arg name="arm_id"         value="$(arg arm_id_3)"/>
    </include>
    <include file="$(find open_manipulator_p_control_gui)/launch/open_manipulator_p_control_gui.launch" />
  </group>
</launch>
