<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="usb_port" default="/dev/ttyUSB0" />
  <arg name="with_gripper" default="true"/>
  <arg name="pipeline" default="ompl"/>

  <!-- startup simulated world and spawn robot-->
  <group if="$(arg sim)">
    <include file="$(find papras)/launch/system_urdf.launch">
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="urdf_upload" value="2arm_stand_upload.launch"/>
      <arg name="gui" value="true"/>
    </include>
  </group>

  <!-- startup ros_control for real robot -->
  <group unless="$(arg sim)">
    <include file="$(find open_manipulator_p_hw)/launch/open_manipulator_p_control.launch">
      <arg name="usb_port" value="$(arg usb_port)"/>
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="yaml_file" value="$(find open_manipulator_p_hw)/config/hardware_stand_nuc2.yaml"/>
      <arg name="baud_rate" value="1000000" />
    </include>
  </group>

  <!-- controller utils -->
  <include file="$(find open_manipulator_p_hw)/launch/controller_utils.launch"/>

  <!-- joint_trajectory_controller -->
  <rosparam file="$(find open_manipulator_p_controllers)/config/joint_trajectory_controller_stand.yaml" command="load"/>


  <node name="left_arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn left_arm_controller"/>
  <node name="right_arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn right_arm_controller"/>
  
  <!-- startup move_group related -->
  <include file="$(find moveit_2arm_stand_config)/launch/move_group.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>
  <include file="$(find moveit_2arm_stand_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find moveit_2arm_stand_config)/launch/moveit.rviz"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
</launch>