<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="usb_port" default="/dev/ttyUSB0" />
  <arg name="with_gripper" default="true"/>
  <arg name="pipeline" default="ompl"/>

  <!-- startup simulated world and spawn robot-->
  <group if="$(arg sim)">
    <include file="$(find papras)/launch/system_urdf.launch">
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="urdf_upload" value="cage_upload.launch"/> 
    </include>
  </group>

  <!-- startup ros_control for real robot -->
  <group unless="$(arg sim)">
    <include file="$(find open_manipulator_p_hw)/launch/open_manipulator_p_control.launch">
      <arg name="usb_port" value="/dev/ttyUSB0"/>
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="yaml_file" value="$(find open_manipulator_p_hw)/config/hardware_cage_2gripper.yaml"/>
    </include>
  </group>

  <!-- controller utils -->
  <include file="$(find open_manipulator_p_hw)/launch/controller_utils.launch"/>

  <!-- joint_trajectory_controller -->
  <group unless="$(arg sim)">
    <rosparam file="$(find open_manipulator_p_controllers)/config/joint_trajectory_controller.yaml" command="load"/>
  </group>
  <group if="$(arg sim)">
    <rosparam file="$(find open_manipulator_p_controllers)/config/joint_trajectory_controller_gazebo.yaml" command="load"/>
  </group>

  <node name="arm1_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm1_controller"/>
  <node name="arm2_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm2_controller"/>
  <node name="arm3_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm3_controller"/>
  <node name="arm4_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm4_controller"/>
  <group if="$(arg with_gripper)">
    <node name="gripper3_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper3_controller"/>
    <node name="gripper4_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper4_controller"/>
  </group>

  <!-- startup move_group related -->
  <include file="$(find cage_config_2gripper)/launch/move_group.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>
  <include file="$(find cage_config_2gripper)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find cage_config_2gripper)/launch/moveit.rviz"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
</launch>