<launch>
  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>

  <arg name="with_gripper" default="true"/>
  <arg name="use_platform" default="true"/>
  <arg name="use_sim" default="false"/>
  <arg name="use_rviz" default="false"/>
  <arg name="cmd_op" default="true"/>  
  <arg name="arm_id" default="6"/>  

  <rosparam file="$(find papras)/config/mission_plan_kitchen.yaml">
  </rosparam>

  <!-- startup simulated world and spawn robot-->
  <group if="$(arg use_sim)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find papras)/worlds/2arm_stand.world"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>
  </group>

  <include file="$(find open_manipulator_p_description)/launch/open_manipulator_p_upload.launch">
    <arg name="with_gripper" value="$(arg with_gripper)"/>
  </include>

  <!-- BEGIN Kitchen ROBOT-->
  <include file="$(find papras)/launch/one_arm.launch" >
    <arg name="init_pose" value="-x 0.0 -y 0.0565 -z 1.661 -R -1.571 -P -1.571 -Y 0.0" />
    <arg name="robot_name"  value="robot1" />
    <arg name="with_gripper" value="$(arg with_gripper)"/>
    <arg name="usb_port" value="/dev/ttyUSB0"/>
    <arg name="arm_id" value="$(arg arm_id)"/>
    <arg name="use_platform" value="$(arg use_platform)"/>
    <arg name="use_sim" value="$(arg use_sim)"/>
    <arg name="synced_gui" value="$(arg cmd_op)"/>
  </include>

</launch>
