<launch>
    <arg name="robot_name" default="robot"/>
    <arg name="init_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
    <arg name="with_gripper"/>
    <arg name="arm_id"/>
    <arg name="usb_port"/>
    <arg name="use_platform"/>
    <arg name="use_sim"/>
    <arg name="synced_gui" default="false"/>

    <!-- Load the URDF into the ROS Para with_grippermeter Server -->
    <include file="$(find open_manipulator_p_description)/launch/open_manipulator_p_upload.launch">
      <arg name="with_gripper" value="$(arg with_gripper)"/>
    </include>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <group if="$(arg use_sim)">
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"/>
    </group>

    <!-- Run controller utils -->
    <!-- <include file="$(find papras_gazebo)/launch/controller_utils.launch"/> -->

    <!-- ros_control robotis manipulator launch file -->
    <include file="$(find papras)/launch/papras_controller.launch">
      <arg name="with_gripper" value="$(arg with_gripper)"/>
    </include>

    <include file="$(find open_manipulator_p_controller)/launch/open_manipulator_p_controller.launch">
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="use_platform" value="$(arg use_platform)"/>
      <arg name="use_sim" value="$(arg use_sim)"/>
      <arg name="usb_port" value="$(arg usb_port)"/>
      <arg name="arm_id" value="$(arg arm_id)"/>
    </include>

    <!-- GUI -->
    <group unless="$(arg synced_gui)">
      <include file="$(find open_manipulator_p_control_gui)/launch/open_manipulator_p_control_gui.launch">
          <arg name="with_gripper" value="$(arg with_gripper)"/>
      </include>
    </group>
</launch>
