<?xml version="1.0" ?>
<launch>
    <include file="$(find papras)/launch/realsense_singlecamera.launch">
        <arg name="camera" value="1"/>
    </include>

    <include file="$(find papras)/launch/realsense_singlecamera.launch">
        <arg name="camera" value="2"/>
    </include>

    <include file="$(find papras)/launch/realsense_singlecamera.launch">
        <arg name="camera" value="3"/>
    </include>
    
</launch>