<!-- -*- xml -*- -->
<!--
   Record PAPRAS data automatically in three separate rosbags:
   - cameras images
   - hrpsys information (robot position)
   - diagnostics (node output, diagnostics)
  -->

<launch>
  <arg name="record_cameras" default="true" />
  <arg name="record_arm1" default="false" />

 <node pkg="rosbag" type="record" name="rosbag_record_cam"
       args="record -o /tmp/papras-cameras /calibrated"
       if="$(arg record_cameras)" />

 <node pkg="rosbag" type="record" name="rosbag_record_papras"
       args="record -o /tmp/papras-arm /joint_states /tf
                /arm1_controller/command /arm1_controller/follow_joint_trajectory/goal"
       if="$(arg record_arm)" />

 <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o /tmp/papras-diag /diagnostics /rosout"/>   
</launch>

