<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionPosition" params="joint n id">
    <transmission name="robot${id}/tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robot${id}/${joint}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robot${id}/motor${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionEffort" params="joint n id">
    <transmission name="robot${id}/tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robot${id}/${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="robot${id}/motor${n}">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission 1 -->
  <xacro:SimpleTransmissionPosition n="1" joint="joint1" id="left" />
  <xacro:SimpleTransmissionPosition n="1" joint="joint1" id="right" />

  <!-- Transmission 2 -->
  <xacro:SimpleTransmissionPosition n="2" joint="joint2" id="left" />
  <xacro:SimpleTransmissionPosition n="2" joint="joint2" id="right" />

  <!-- Transmission 3 -->
  <xacro:SimpleTransmissionPosition n="3" joint="joint3" id="left" />
  <xacro:SimpleTransmissionPosition n="3" joint="joint3" id="right" />

  <!-- Transmission 4 -->
  <xacro:SimpleTransmissionPosition n="4" joint="joint4" id="left" />
  <xacro:SimpleTransmissionPosition n="4" joint="joint4" id="right" />

  <!-- Transmission 5 -->
  <xacro:SimpleTransmissionPosition n="5" joint="joint5" id="left" />
  <xacro:SimpleTransmissionPosition n="5" joint="joint5" id="right" />

  <!-- Transmission 6 -->
  <xacro:SimpleTransmissionPosition n="6" joint="joint6" id="left" />
  <xacro:SimpleTransmissionPosition n="6" joint="joint6" id="right" />

  <!-- Transmission gripper -->
  <xacro:SimpleTransmissionEffort n="gripper" joint="gripper" id="left"/>
  <xacro:SimpleTransmissionEffort n="gripper" joint="gripper" id="right"/>

  <!-- Transmission gripper_sub -->
  <xacro:SimpleTransmissionEffort n="gripper_sub" joint="gripper_sub" id="left"/>
  <xacro:SimpleTransmissionEffort n="gripper_sub" joint="gripper_sub" id="right"/>


</robot>
