<launch>
  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="with_gripper" default="false"/>
  <arg name="use_platform" default="false"/>
  <arg name="use_sim" default="true"/>
  <arg name="use_rviz" default="false"/>
  <arg name="synced_gui" default="true"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <group if="$(arg use_sim)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find papras_gazebo)/worlds/papras_system.world"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>
  </group>

  <include file="$(find papras_gazebo)/launch/robots_multinode.launch">
    <arg name="use_platform" value="$(arg use_platform)"/>
    <arg name="use_sim" value="$(arg use_sim)"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="synced_gui" value="$(arg synced_gui)"/>
    <arg name="with_gripper" value="$(arg with_gripper)"/>
  </include>
</launch>
