<launch>
  <arg name="use_robot_name" default="papras"/>

  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="with_gripper" default="false"/>

  <arg name="usb_port"     default="/dev/ttyUSB0"/>
  <arg name="baud_rate"    default="1000000"/>
  <arg name="control_period"         default="0.010"/>
  <arg name="use_platform"           default="false"/>

  <!-- BEGIN ROBOT 1-->
  <group ns="robot_1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find papras_gazebo)/launch/one_arm.launch" >
      <arg name="init_pose" value="-x -0.3 -y -0.5 -z 1.01" />
      <arg name="robot_name"  value="Robot1" />
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="arm_id" value="1"/>
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <!-- <group ns="robot_2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find papras_gazebo)/launch/one_arm.launch" >
      <arg name="init_pose" value="-x -0.3 -y 0.5 -z 1.01" />
      <arg name="robot_name"  value="Robot2" />
      <arg name="with_gripper" value="$(arg with_gripper)"/>
      <arg name="arm_id" value="2"/>
    </include>
  </group> -->

  <!-- open_manipulator_p_controller.launch -->
  <node name="open_manipulator_p_controller" pkg="open_manipulator_p_controller" type="open_manipulator_p_controller"
     output="screen" args="$(arg usb_port) $(arg baud_rate)">
    <param name="using_platform"       value="$(arg use_platform)"/>
    <param name="control_period"       value="$(arg control_period)"/>
    <param name="with_gripper"         value="$(arg with_gripper)"/>
  </node>

</launch>
