<launch>
  <arg name="with_gripper" default="false" />

  <group unless="$(arg with_gripper)">
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find open_manipulator_p_description)/urdf/papras_group_moveit.urdf.xacro'"/>
  </group>

  <group if="$(arg with_gripper)">
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find open_manipulator_p_description)/urdf/papras_group_moveit_with_gripper.urdf.xacro'"/>
  </group>
</launch>
