<launch>
  <arg name="with_gripper" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find papras)/worlds/cage.world"/>
  </include>

  <group if="$(arg with_gripper)">
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find open_manipulator_p_description)/urdf/cage.urdf.xacro'"/>
  </group>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args=" -urdf -param /robot_description -model cage"/>
</launch>
