<?xml version="1.0"?>
<robot name="backpack" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import PAPRAS Macros -->
  <xacro:include filename="$(find papras_description)/urdf/papras_macros.xacro"/>

  <link name="world"/>

  <joint name="world_env_fixed" type="fixed">
    <parent link="world"/>
    <child link="env"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="env"/>

  <joint name="robot1/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot1/link1"/>
    <origin xyz="0 0.1 1.4" rpy="0 $(eval ${-pi/6}) $(eval ${-pi*0.5})"/>
  </joint>
  <joint name="robot2/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot2/link1"/>
    <origin xyz="0 0 1.4" rpy="0 $(eval ${pi/6}) $(eval ${-pi*0.5})"/>
  </joint>
  <joint name="robot3/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot3/link1"/>
    <origin xyz="0 0.1 1.0" rpy="$(eval ${-pi*0.5}) 0 0"/>
  </joint>
  <joint name="robot4/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot4/link1"/>
    <origin xyz="0 0 1.0" rpy="$(eval ${-pi*0.5}) 0 $(eval ${pi})"/>
  </joint>

  <xacro:papras_arm id="1"/>
  <xacro:papras_arm id="2"/>
  <xacro:papras_arm_long id="3"/>
  <xacro:papras_arm_long id="4"/>
  <xacro:papras_gripper id="1"/>
  <xacro:papras_gripper id="2"/>
  <xacro:papras_gripper id="3"/>
  <xacro:papras_gripper id="4"/>
  <xacro:papras_camera id="1"/>
  <xacro:papras_camera id="2"/>
  <xacro:papras_camera id="3"/>
  <xacro:papras_camera id="4"/>

</robot>