<?xml version="1.0"?>
<robot name="roomba" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import PAPRAS Macros -->
  <xacro:include filename="$(find papras_description)/urdf/papras_macros.xacro"/>
  
  <!-- Import Create 2 URDF -->
  <xacro:include filename="$(find create_description)/urdf/create_2.urdf.xacro"/>

  <joint name="base_link_env_fixed" type="fixed">
    <parent link="base_link"/>
    <child link="env"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="env">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://papras_description/meshes/roomba_mount.stl"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://papras_description/meshes/roomba_mount_simple.stl"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="10.0" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>

  <joint name="robot1/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot1/link1"/>
    <origin xyz="0.0 0.0 0.11653" rpy="0 0 0"/>
  </joint>

  <xacro:papras_arm id="1"/>
  <xacro:papras_gripper id="1"/>
  <xacro:papras_camera id="1"/>

</robot>