<?xml version="1.0"?>
<robot name="tea_table" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import PAPRAS Macros -->
  <xacro:include filename="$(find papras_description)/urdf/papras_macros.xacro"/>

  <link name="world"/>

  <joint name="world_env_fixed" type="fixed">
    <parent link="world"/>
    <child link="env"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="env">
    <visual>
      <origin xyz="0.0 0.0 00" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://papras_description/meshes/tea_table.stl"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://papras_description/meshes/tea_table_simple.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="robot1/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot1/link1"/>
    <origin xyz="0.345 0.276 0.2657" rpy="0 0 0"/>
  </joint>
  <joint name="robot2/env_arm_fixed" type="fixed">
    <parent link="env"/>
    <child link="robot2/link1"/>
    <origin xyz="1.145 0.2735 0.2657" rpy="0 0 ${pi}"/>
  </joint>

  <xacro:papras_arm id="1"/>
  <xacro:papras_gripper id="1"/>
  <xacro:papras_camera id="1"/>
  <xacro:papras_arm id="2"/>
  <xacro:papras_gripper id="2"/>
  <xacro:papras_camera id="2"/>

</robot>