<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="usb_port" default="/dev/ttyUSB0" />

  <!-- startup ros_control for real robot -->
  <group unless="$(arg sim)">
    <include file="$(find open_manipulator_p_hw)/launch/open_manipulator_p_control.launch">
      <arg name="usb_port" value="$(arg usb_port)"/>
      <arg name="interface" value="effort"/>
    </include>
  </group>

  <!-- startup simulated world and spawn robot-->
  <group if="$(arg sim)">
    <include file="$(find open_manipulator_p_hw)/launch/open_manipulator_p_gazebo.launch"/>
  </group>

  <!-- controller utils -->
  <include file="$(find open_manipulator_p_hw)/launch/controller_utils.launch"/>

  <!-- gravity_compensation_controller -->
  <rosparam file="$(find open_manipulator_p_controllers)/config/gravity_compensation_controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="gravity_compensation_controller"/>
</launch>
